@charset "UTF-8";
@-ms-viewport {width: devide-width;}

.footer {
        padding: 20px;
        background-color: #dfe3e8;
}

.footer p {
        margin: 0 0 3px 0;
        font-size: 12px;
        line-height: 1.4;
}

.footer a{
        color: #666;
        text-decoration: none;
}

.footer .text {
        float: left;
}

.footer .added {
        float: right;
}

.footer:after {
        content: "";
        display: block;
        clear: both;
}

.footer {*zoom: 1;}