@charset "UTF-8";
@-ms-viewport {width: devide-width;}

.button {
        display: inline-block;
        padding: 10px 30px 10px 30px;
        background-color: #fa0;
        font-size: 14px;
        text-decoration: none;
}

.button:hover,
.button:focus{
        outline: none;
        background-color: #cf0;
}

form {
        padding: 20px;
        background-color: #dfe3e8;
}

form p {
        margin: 0 0 20px 0;
}

label {
        display: block;
        margin: 0 0 5px 0;
        font-size: 14px;
}

input[type="text"],
input[type="email"],
textarea {
        width: 100%;
        padding: 5px 10px 5px 10px;
        border: solid 1px #aaa;
        border-radius:  0;
        background-image: none;
        font-family: inherit;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;       
}

textarea {
        height: 80px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
        border: solid 1px #0cf;
        outline: none;
        -webkit-box-shadow: 0 0 5px 0 #0cf;
        box-shadow: 0 0 5px 0 #0cf;
}

input[type="submit"]{
        display: inline-block;
        padding: 10px 30px 10px 30px;
        background-color: #fa0;
        font-size: 14px;
        text-decoration: none;
        -webkit-appearance: none;      
}

input[type="submit"]:hover,
input[type="submit"]:focus {
        outline: none;
        background-color: #cf0;
}
input[type="submit"]::::-moz-focus-inner{
        padding: 0;
        border: none;
}

table {
        border-collapse: collapse;
}

table, th, td {
        border: solid 1px #aaa;
}

th, td {
        padding: 8px;
        font-size: 14px;
        text-align: left;
        vertical-align: top;
}

th {
        background-color: #be6;
}

th > :first-child{
        width: 120px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.col {
        float: left;
        width: 31%;
        margin-left: 3.5%;
        *clear: right;
}

.col:first-child{
        margin-left: 0;
}

.cols:after{
        content: "";
        display: block;
        clear: both;
}

.cols {
        *zoom:1;
}

.entry	{padding: 20px;
	background-color: #dfe3e8;}

.entry01	{background-color: #93d869;}
.entry02	{background-color: #cfd869;}
.entry03	{background-color: #f0a65e;}

.entry h1	{margin: 0 0 20px 0;
	font-size: 28px;
	line-height: 1.2;}

.entry p	{margin: 0 0 20px 0;
	font-size: 14px;
        line-height: 1.6;
}

.group {
        padding: 20px;
        background-color: #dfe3e8;
}

.group > h1 {
        margin: 0 0 20px 0;
        font-size: 36px;
}