@charset "UTF-8";
@-ms-viewport {width: devide-width;}

.button {
        display: inline-block;
        padding: 10px 30px 10px 30px;
        background-color: #fa0;
        font-size: 14px;
        text-decoration: none;
}

.button:hover,
.button:focus{
        outline: none;
        background-color: #cf0;
}