@charset "UTF-8";
@-ms-viewport {width: devide-width;}

.menu {
        padding: 20px;
        background-color: #dfe3e8;
}

.menu ul,
.menu ol {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.4;
        list-style: none;
}

.menu li a {
        display: block;
        padding: 10px 5px 10px 30px;
        color: #000;
        text-decoration: none;
}

.menu li a span {
        display: inline-block;
        text-indent: -9999px;
}

.menu li a i {
        font-size: 40px;
        color: #e16;
}

.menu li a:hover i {
        color: #f80;
}

.menu img {
        float: left;
        border: none;
}

.menu p {
        margin: 0 0 0 110px;
}

.menu .title {
        font-weight: bold;
}

.menu .desc {
        color: #666;
        font-size: 12px;
}

.menu li a:after {
        content: "";
        display: block;
        clear: both;
}

.menu li a {
        *zoom: 1;
}

.menu li {
        float: left;
}

.menu ul:after,
.menu ol:after {
        content: "";
        display: block;
        clear: both;
}

.menu uo,
.menu ol {
        *zoom: 1;
}

.menu .menubar li a{
        padding: 10 10 10 10;
}

.fa {*zoom: 1;}

