@charset "UTF-8";
@-ms-viewport {width: devide-width;}

.entry {padding: 20px;
        background-color: #dfe3e8;}

.entry img { float: left;
            max-width: 30%;
            height: auto;
            margin: 0  10px 0;
            vertical-align: bottom;}

.entry h1 {margin: 0 0 20px 33%;
            font-size: 28px;
            line-height: 1.2;}

.entry p {margin: 0 0 20px 33%;
            font-size: 14px;
            line-height: 1.6;}

.entry:after {content: "";
                display: block;
                clear: both;}

.entry .added {margin: 0 0 20px 33%;}
.entry {*zoom: 1;}