@charset "UTF-8";
@-ms-viewport {width: devide-width;}

.entry	{
        padding: 20px;
        background-color: #dfe3e8;
        line-height: 1.6;
}

/* 背景画像の設定 */
.entry{
        background-image: linear-gradient(to bottom, #fff 0%, #cf0 100%);
}


.entry h1	{
        padding-bottom: 5px;
        border-bottom: solid 1px #888;
        border-left: solid 10px #ed1e79;
}


.button {
        display: inline-block;
        padding: 10px 30px 10px 30px;
        background-color: #ed1a7d;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
}

.button{
        display: block;
        height: 100px;
        width: 100px;
        padding: 40px 0 0 0;
        text-align: center;
        margin: 0 auto 0 auto;
        border-radius: 50px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
}

.button:hover,
.button:focus {
        outline: none;
        background-color: #ff9bca;
}

.entry{
        position: relative;
}

.entry .button{
        position: absolute;
        bottom: -40px;
        right: 30px;
}