@charset "UTF-8";
@-ms-viewport {width: devide-width;}

.entry	{
        padding: 20px;
        background-color: #dfe3e8;
        line-height: 1.6;
}

/* 背景画像の設定 */
.entry{
        background-image: linear-gradient(to bottom, #fff 0%, #cf0 100%);
}


.entry h1	{
        padding-bottom: 5px;
        border-bottom: solid 1px #888;
        border-left: solid 10px #ed1e79;
}
