@charset "UTF-8";
@-ms-viewport {width: devide-width;}

.entry	{
        padding: 20px;
        background-color: #dfe3e8;
        line-height: 1.6;
}

/* 背景画像の設定 */
.entry{
        background-image: url(img/candle.jpg);
        background-position: 50% 50%;
        background-size: cover;
        color: #000;
}

.entry .inner {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.6);
}

.entry h1	{
        padding-bottom: 5px;
        border-bottom: solid 1px #888;
        border-left: solid 10px #ed1e79;
}
